@mixin all__item {
    content: "";
 display: inline-block;
  width: 23px;
  height: 21px;
 background-repeat: no-repeat;
 background-image: url(../../img/pet.svg);
margin-right: 5px;
vertical-align: middle; 
}