.blockquote__block{
    max-width: 1134px;
    margin: 0 auto;
}
.bloquote__line{
    display: block;
    max-width: 140px;
    border: 1px solid #DBDBDB;
    margin: 0 auto;

margin-bottom: 43px;
}
.bloquote__content{
max-width: 753px;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #949494; 
margin-left: 55px;
display: flex;
justify-content: space-between;
}

.bloquote__box{
    margin-left:200px;
}
.blockquote__img2{
 margin-left: 800px;
}

.blouqote__subtitle-box{
    max-width: 357px;
margin: 0 auto;
}
.blockquote__subtitle{
    font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #333333;
max-width: 357px;
margin: 0 auto;
}
@media only screen and (max-width:1077px) {
    .bloquote__content{
        max-width: 650px;
        
        margin-left: 20px;
        
        }
        .blockquote__img2{
            margin-left: 650px;
           }
}
@media only screen and (max-width:957px) {
    .bloquote__content{
        max-width: 550px;
        
        margin-left: 20px;
        
        }
        .blockquote__img2{
            margin-left: 550px;
           }
}
@media only screen and (max-width:826px) {
    .bloquote__content{
        max-width: 350px;
        .bloquote__box{
            margin-left:0px;
        }
        
        
        }
        .blockquote__img2{
            margin-left: 250px;
           }
}
@media only screen and (max-width:787px) {
    .bloquote__content{
        max-width: 270px;
        font-size: 15px;
        margin-left:0px;
        
        }
        .blockquote__img2{
            max-width: 50px;
            margin-left: 150px;
           }
           .blockquote__block{
            max-width: 400px;
            margin: 0 auto;
        }

}
@media only screen and (max-width:481px) {
    .bloquote__content{
        max-width: 300px;
        font-size: 10px;
        margin-left:0px;
        
        }
        .blockquote__img2{
            max-width: 50px;
            margin-left: 90px;
           }
           .blockquote__block{
            max-width: 300px;
            
        }

}