.bug-bg{
    display: flex;
    align-items: center;
    margin-top: 170px;
    max-width: 1360px;
    background-repeat: no-repeat;
    padding: 90px 56px 70px 286px;
   position: relative;
    background-image: url(../../img/bud__bg.svg);

}

.bud__title{
    max-width: 494px;
    font-weight: 700;
font-size: 48px;
line-height: 20px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-bottom: 32px;
}
.bud__form-poz{
    display: flex;
    align-items: center;
}
.bud__eamil{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 18px 147px 12px 22px;
border-color: transparent;
}
.bud__eamil:hover{
    border: 2px solid #FFBD54;
    border-radius: 5px;

}
.bud__eamil:active{
    border: 2px solid #FFBD54;
    border-radius: 5px;

}
.bud__eamil::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #949494;
}
.bud__eamil::placeholder:hover{
color: #333333;

}



.bud__button{
    background: #333333;
    border-radius: 3px;
    padding: 15px 53px 14px 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
    border-color: transparent;

}
.bud__button:hover{
    background: #FFBD54;
border-radius: 3px;
}
.bud__button:active{
    background: #F9D192;
}
.bug__dog{
    max-width: 613px;
    margin-top: -200px;
}
@media only screen and (max-width:1215px) {
    .bug__dog{
       display: none;
    }
    .bud__form-poz{
        flex-direction: column;
        row-gap: 20px;
    }
    .bud__title{
    
        max-width: 450px;
        font-size: 35px;
    }
    .bug-bg{
        background-repeat: no-repeat;
        padding: 90px 56px 70px 100px;
       position: relative;
        background-image: url(../../img/bud__bg.svg);
    
    }
}
@media only screen and (max-width:560px) {
   
    .bud__title{
    
        max-width: 400px;
        font-size: 30px;
    }
    .bug-bg{
       margin-top: 20px;
        padding: 70px 45px 60px 60px;
      
    }
}

@media only screen and (max-width:473px) {
   
    .bud__title{
    
        max-width: 300px;
        font-size: 25px;
    }
    .bug-bg{
        padding: 60px 35px 50px 30px;
      
    }
    .bud__eamil{
        padding: 14px 90px 9px 11px;
    }
    .bud__button{
      
        padding: 11px 43px 11px 41px;
        
    }
}

